body {
  text-align: center;
}

#cardWrap {
  display: flex;
  justify-content: center;
}
#directors {
  display: grid;
  justify-content: center;
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px;
  margin-left: auto;
  margin-right: auto;
}
